<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/adminAddScreen.css">
</head>
<body>
    <div id="wrapper">
        <form action="">
            <h3>Add New</h3>
            <div class="input__group">
                <input type="text" name="id" required>
                <label for="">ID</label>
            </div>
            <div class="input__group">
                <input type="text" name="Username" required>
                <label for="">Username</label>
            </div>
            <div class="input__group">
                <input type="text" name="Email" required>
                <label for="">Email</label>
            </div>
            <button type="submit" value="Add" id="btn__Add">Add</button>
            <button type="reset" value="Reset" id="btn__Reset">Refresh</button>
        </form>
    </div>
</body>
</html>