<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comming Soon</title>

    <link rel="stylesheet" href="../css/commingSoon.css">
</head>

<body>
    <div class="filter">
        <div class="filter-color"></div>
    </div>
    <div class="container">
        <div class="container-element">
            <div class="container-element-item">
                <div class="element-title">
                    <h3>We are</h3>
                    <div class="title-decoration-left"></div>
                    <div class="title-decoration-right"></div>
                </div>

            </div>
            <div class="container-element-content">
                <div class="content-detail">
                    <div class="detail-text">
                        <h3>COMMING SOON</h3>
                    </div>
                </div>
            </div>
            <div class="container-element-subscribe">
                <div class="subcribe-text">
                    <div class="text-decoration-top"></div>
                    <p>Please subscribe to newsletter to get updates from us.</p>
                </div>
                <div class="subscribe-detail">
                    <form action="" method="post">
                        <div class="email">
                            <input type="text" name="txtEmail" placeholder="Your Email Address">
                        </div>
                        <div class="subscribe-button">
                            <button type="submit" name="txtSubscribe">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>