<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/maintainceScreeen.css">
    <title>Maintaince</title>
</head>

<body>
    <div class="filter">
            <div class="filter-color">
            </div>
    </div>
    <div class="container">
        <div class="container-element">
            <div class="container-element-item">
                <div class="element-title">
                    <h3>System Maintaince</h3>
                    <span>Our website is going under maintenance. We will be back very soon!.</span>
                </div>
            </div>
            <div class="element-content">
                <div class="content-detail">
                    <div class="detail-text">
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring
                            which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which
                            was created for the bliss of souls like mine.</p>
                    </div>
                </div>
            </div>
            <div class="element-process">
                <div class="process-detail">
                    <div class="skill-bar">
                        <div class="skill-bar-head">
                            <span class="head-title">Current Process</span>
                            <span class="head-progress">85%</span>
                        </div>
                        <div class="skill-bar-progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>