<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/orderDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Order Page</title>
</head>
<body>
    <div class="banner">
        <h2>Order detail</h2>
    </div>
    <div class="container">
        <div class="item-order-detail">
            <h3>Order Detail</h3>
        </div>
        <div class="item-table">
            <p>Thank you.Your order has been received.</p>
            <table>
                <tr>
                    <th>Order Key</th>
                    <td>ORDER6478A0D40D610</td>
                  </tr>
                  <tr>
                    <th>Order Number</th>
                    <td>#0000011616</td>
                  </tr>
                  <tr>
                    <th>Status</th>
                    <td>Completed</td>
                  </tr>
                  <tr>
                    <th>Item</th>
                    <td>Self Care Through Ayurveda (#00614)</td>
                  </tr>
                  <tr>
                    <th>Date</th>
                    <td>June 2, 2023</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td>$29</td>
                  </tr>
                  <tr>
                    <th>Payment method</th>
                    <td>Online Payment</td>
                  </tr>
            </table>
        </div>
    </div>
</body>
</html>