<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Instructors</title>
    <link rel="stylesheet" href="../css/ourInstructor.css">
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <h1>Our Instructors</h1>
        <div class="banner-page-caption">Our Story</div>
    </div>
    <!-- end banner -->

    <!-- container -->
    <div class="container">
        <div class="container__element">
            <div class="container__element-image-left">
                <img src="../img/Trainer/Yoka-teacher-1.png" alt="Instructor Yoga">
            </div>
            <div class="container__element-details-right">
                <div class="container__element-image">
                    <img src="../img/Trainer/quote-image.png" alt="">
                </div>
                <div class="container__element-detail">

                    <p>Modern yoga consists of a range of techniques
                        including asanas and meditation derived
                        from some of the philosophies,
                        teachings and practices of the Yoga school,
                        which is one of the six schools of traditional
                        Hindu philosophies, and organised into a wide
                        variety of schools and denominations.
                        It has been described
                        by Elizabeth de Michelis as having
                        four types, namely</p>

                    <div class="container__element-detail-instructor">
                        <h4>Anna Curtis</h4>
                        <div class="container__element-detail-class">
                            <h5>Vinyasa Yoga</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__element">
            <div class="container__element-content">
                <div class="container__element-introduction">
                    <div class="container__element-introduction-title container__element-introduction-title-border">
                        <h3>Our Instructors</h3>
                    </div>
                    <div class="container__element-introduction-content">
                        <p>A meditative means of discovering dysfunctional perception and cognition, as well as
                            overcoming
                            it to release any suffering, find inner peace and salvation.</p>
                    </div>
                </div>
                <div class="container__element-instructor">
                    <div class="container__element-instructor-line">

                        <ul class="container__element-instructor-class">
                            <li class="instructor__class-image">
                                <img src="../img/Trainer/personnel-1-600x600.jpg" alt="">
                            </li>
                            <li class="instructor__class-name">Jane Smith</li>
                            <li class="instructor__class-classes">
                                <a href="#">2 Classes</a>
                            </li>
                        </ul>
                        <ul class="container__element-instructor-class">
                            <li class="instructor__class-image">
                                <img src="../img/Trainer/shutterstock_1227113197-600x600.jpg" alt="">
                            </li>
                            <li class="instructor__class-name">Mildred Reed</li>
                            <li class="instructor__class-classes">
                                <a href="#">2 Classes</a>
                            </li>
                        </ul>
                        <ul class="container__element-instructor-class">
                            <li class="instructor__class-image">
                                <img src="../img/Trainer/personnel-3.1.jpg" alt="">
                            </li>
                            <li class="instructor__class-name">Madison Diaz</li>
                            <li class="instructor__class-classes">
                                <a href="#">1 Class</a>
                            </li>
                        </ul>
                    </div>
                    <div class="container__element-instructor-line">
                        <ul class="container__element-instructor-class">
                            <li class="instructor__class-image">
                                <img src="../img/Trainer/personnel-4.jpg" alt="">
                            </li>
                            <li class="instructor__class-name">Brenda Robertson</li>
                            <li class="instructor__class-classes">
                                <a href="#">1 Class</a>
                            </li>
                        </ul>
                        <ul class="container__element-instructor-class">
                            <li class="instructor__class-image">
                                <img src="../img/Trainer/personnel-6.jpg" alt="">
                            </li>
                            <li class="instructor__class-name">Lori Mendoza</li>
                            <li class="instructor__class-classes">
                                <a href="#">1 Class</a>
                            </li>
                        </ul>
                        <ul class="container__element-instructor-class">
                            <li class="instructor__class-image">
                                <img src="../img/Trainer/personnel-8.jpg" alt="">
                            </li>
                            <li class="instructor__class-name">Crystal Gibson</li>
                            <li class="instructor__class-classes">
                                <a href="#">1 Class</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container__element-end">
            
            <div class="container__element-end-content">
                <div class="element__end-content-title">
                    <h3>What's the number</h3>
                </div>
                <div class="element__end-content-detail">
                    <p>Modern yoga consists of a range of techniques including asanas (postures) and meditation
                        derived from some of the philosophies, teachings and practices of the Yoga school, which is
                        one of the six schools of traditional Hindu</p>
                </div>
            </div>
            <div class="container__element-end-button">
                <form action="courseList.html" method="">
                    <button type="submit" name="btnAction">Browse Courses</button>
                </form>
            </div>
            <div class="container__element-end-numbers">
                <ul class="element__end-number">
                    <li class="end-number">1M</li>
                    <li class="end-name">CLASS VIEWS</li>
                </ul>
                <ul class="element__end-number">
                    <li class="end-number">48K</li>
                    <li class="end-name">HAPPY STUDENTS</li>
                </ul>
                <ul class="element__end-number">
                    <li class="end-number">90%</li>
                    <li class="end-name">SATISFACTION</li>
                </ul>
                <ul class="element__end-number">
                    <li class="end-number">20</li>
                    <li class="end-name">AWESOME INSTRUCTORS</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <!-- end container -->
</body>

</html>