        .banner{
            padding: 12% 20px 10% 20px;
            width: 100%;
            text-align: center;
            background: url(../img/bg/page-title-1.png) top center / cover no-repeat;
        }
        .banner h2{
            color: #227179;
            font-size: 3.3vw;
        }
        .container{
            display: grid;
            max-width: 1220px;
            margin: 0 auto;
            padding: 64px 0;
            grid-template-columns: 2fr 1fr;
            gap: 64px;
        }

        .left-container{
            display: flex;
            flex-direction: column;
            gap: 64px;
        }

        .blog-item{
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        }
        .blog-item a{
            text-decoration: none;
        }
        .blog-item-img{
            overflow: hidden;
            max-height: 300px;
            display: flex;
            align-items: center;
        }
        .blog-item-img img{
            width: 100%;
            transition: all ease-in-out .4s;
            display: block;
        }
        .blog-item-img img:hover{
            transform: scale(1.2);
            filter: brightness(60%);
        }
        .blog-item-body{
            padding: 55px;
            position: relative;
        }
        .blog-item-date{
            position: absolute;
            padding: 10px 29px;
            background-color: #efefef;
            color: #3dbca8;
            font-size: 15px;
            border-radius: 24px;
            top: 0;
            left: 0;
            transform: translate(50%,-50%);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }
        .blog-item-author{
            color: #a7a7a7;
            font-size: 16px;
            text-transform: capitalize;
        }
        .blog-item-title{
            color: #547670;
            font-size: 35px;
            font-weight: 500;
            margin-top: 8px;
            margin-bottom: 24px;
            display: block;
        }
        .text{
            font-size: 16px;
            color: #5e5e5e;
            line-height: 1.7;
        }
        .text-ellipsis {
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Limit the text to 3 lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; /* Add "..." at the end of the third line */
            white-space: normal;
          }
        .read-more-btn{
            color: #3dbca8;
            padding: 4px 0;
            transition: all ease-in-out .3s;
            border-bottom: 1px solid #fff;
            font-weight: 600;
        }
        .read-more-btn:hover{
            color: #547670;
            border-bottom: 1px solid #547670;
        }
        .read-more-btn:hover i{
            opacity: 1;
        }
        .read-more-btn i{
            opacity: 0;
            transition: opacity ease-in-out .3s;
            margin-left: 8px;
            margin-top: 32px;
            
        }      
        /*post blog*/

        
        .noice-empty{
            display: flex;
            margin: auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #e6e6e6;
            border-radius: 16px;
            padding: 34px 50px;
        }
        .noice-empty img{
            height: 75px;
            width: 75px;
        }
        .noice-empty h4{
            color: #555;
            font-weight: 500;
        }

        @keyframes slideUp{
            0%{
                transform: translateY(50%);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }

        @media screen and (max-width:739px) {
            .left-container{
                gap: 32px;
            }
            .container{
                gap:16px;
                padding: 32px 12px;
                grid-template-columns: 1fr;
            }
            .blog-item-body{
                padding: 45px 10px;
            }
            .blog-item-title{
                font-size: 20px;
            }
            .blog-item-date{
                font-size: 14px;
                padding: 6px 18px;
                transform: translate(10%,-50%);
            }
        }
