*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; 
}

body{
    font-family: 'Jost', sans-serif;
    display: flex;
    flex-direction: column;
}

.banner{
    padding: 15% 20px 10% 20px;
    width: 100%;
    text-align: center;
    background: url(../img/bg/page-title-1.png) top center / cover no-repeat;
}
.banner h2{
    color: #227179;
    font-size: 3.3vw;
}
.container-wrapper{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 1320px;
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: space-evenly;
}
form{
    max-width: 500px;
    width: 46%;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    height: min-content;
}
form h2{
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #227179;
}
form label{
    font-size: 18px;
    margin-bottom: 16px;
    color: #292929;
}
form>div{
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}
form input{
    padding: 12px 20px 16px;
    border-color: #e7e7e7;
    border-width: 1px 1px 2px;
    outline: none !important;
    border-style: solid;
    flex: 1;
}
form>div>div{
    position: relative;
    display: flex;
    align-items: center;
}
form i{
    position: absolute;
    z-index: 1;
    right: 16px;
}
form .btn{
    padding: 13px 28px;
    background-color: #3dbca8;
    color: white;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    transition: all ease-in-out .3s;
    margin-bottom: 16px;
}
form .btn:hover{
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(61, 188, 168, 0.45);
    
}

@media screen and (max-width:739px) {
    .banner h2{
        font-size: 9vw;
    }
    .container{
        flex-direction: column;
    }
    form{
        padding: 20px;
        width: 80%;
        margin: 0 auto 16px auto;
    }

}

