/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 14, 2023, 9:45:19 AM
    Author     : DungVNT
*/
.pagination{
    padding: 6px 24px;
    display: flex;
    border-radius: 24px;
    max-width: fit-content;
    margin: 12px auto;
}
.pagination a{
    width: 45px;
    height: 45px;
    color: #929292;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    border: 1px solid #e5e7eb;
    font-weight: 500;
    transition: ease-in-out .3s;
    margin: 0 12px;
    background-color: white;
}
.pagination a:hover, .pagination .p-active{
    background-color: #547670;
    color: white;
}

