<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.yowu.yogacenter.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>UserProfileCourse</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.UserProfileCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileWishlist</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.UserProfileWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileBooking</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.UserProfileBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.RegisterAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileSetting</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.UserProfileSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogHomeController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.BlogHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.ViewScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.CourseListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCategoryListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewCategoryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourseListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewCourseListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewBillListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewAccountListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.CourseDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizePaymentController</servlet-name>
        <servlet-class>com.yowu.yogacenter.checkout.AuthorizePaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutResultController</servlet-name>
        <servlet-class>com.yowu.yogacenter.checkout.CheckoutResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutSendController</servlet-name>
        <servlet-class>com.yowu.yogacenter.checkout.CheckoutSendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCourseTimeListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewCourseTimeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewClassScheduleListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewClassScheduleListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMembershipListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewMembershipListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.AddCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.UpdateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.DeleteCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.UpdateCourseScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MembershipController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.MembershipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseFilterController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.CourseFilterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.AddCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.AddAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMembershipController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.AddMembershipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMembershipController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.UpdateMembershipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMembershipController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.DeleteMembershipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMembershipController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchMembershipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.AddCourseScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.DeleteCourseScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchCourseScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClassScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.UpdateClassScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClassScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.DeleteClassScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClassScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.AddClassScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchClassScheduleController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchClassScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructorProfileController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.InstructorProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileMebership</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.client.UserProfileMebership</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillCashierController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.cashier.ViewBillCashierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBillCashierController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.cashier.UpdateBillCashierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMembershipCashierController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.cashier.ViewMembershipCashierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMembershipCashierController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.cashier.UpdateMembershipCashierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillCashierController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.cashier.SearchBillCashierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillAnalysisController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.BillAnalysisController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogAnalysisController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.BlogAnalysisController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillMembershipListController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.ViewBillMembershipListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillMembershipController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.SearchBillMembershipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogApprovalController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.admin.BlogApprovalController</servlet-class>
    </servlet>
    <servlet>    
        <servlet-name>SearchBillMembershipCashierController</servlet-name>
        <servlet-class>com.yowu.yogacenter.controller.cashier.SearchBillMembershipCashierController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileCourse</servlet-name>
        <url-pattern>/userprofile/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileWishlist</servlet-name>
        <url-pattern>/userprofile/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileBooking</servlet-name>
        <url-pattern>/userprofile/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileSetting</servlet-name>
        <url-pattern>/userprofile/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScheduleController</servlet-name>
        <url-pattern>/Timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseListController</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCategoryListController</servlet-name>
        <url-pattern>/admin/categoryListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourseListController</servlet-name>
        <url-pattern>/admin/viewCourseListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillListController</servlet-name>
        <url-pattern>/admin/viewBillListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountListController</servlet-name>
        <url-pattern>/admin/viewAccountListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/course-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogHomeController</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailController</servlet-name>
        <url-pattern>/blog-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginWithGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizePaymentController</servlet-name>
        <url-pattern>/authorize_payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutResultController</servlet-name>
        <url-pattern>/CheckoutResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutSendController</servlet-name>
        <url-pattern>/CheckoutSendController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCourseTimeListController</servlet-name>
        <url-pattern>/admin/viewCourseTimeListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewClassScheduleListController</servlet-name>
        <url-pattern>/admin/viewClassScheduleListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMembershipListController</servlet-name>
        <url-pattern>/admin/viewMembershipListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/admin/updateCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/admin/deleteCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryController</servlet-name>
        <url-pattern>/admin/addCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseController</servlet-name>
        <url-pattern>/admin/updateCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseController</servlet-name>
        <url-pattern>/admin/deleteCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseScheduleController</servlet-name>
        <url-pattern>/admin/updateCourseScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MembershipController</servlet-name>
        <url-pattern>/Membership</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseFilterController</servlet-name>
        <url-pattern>/course-filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseController</servlet-name>
        <url-pattern>/admin/addCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountController</servlet-name>
        <url-pattern>/admin/addAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/admin/deleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMembershipController</servlet-name>
        <url-pattern>/admin/addMembershipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMembershipController</servlet-name>
        <url-pattern>/admin/updateMembershipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMembershipController</servlet-name>
        <url-pattern>/admin/deleteMembershipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryController</servlet-name>
        <url-pattern>/admin/searchCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseController</servlet-name>
        <url-pattern>/admin/searchCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMembershipController</servlet-name>
        <url-pattern>/admin/searchMembershipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/admin/searchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillController</servlet-name>
        <url-pattern>/admin/searchBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseScheduleController</servlet-name>
        <url-pattern>/admin/addCourseScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseScheduleController</servlet-name>
        <url-pattern>/admin/deleteCourseScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseScheduleController</servlet-name>
        <url-pattern>/admin/searchCourseScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClassScheduleController</servlet-name>
        <url-pattern>/admin/updateClassScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClassScheduleController</servlet-name>
        <url-pattern>/admin/deleteClassScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClassScheduleController</servlet-name>
        <url-pattern>/admin/addClassScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchClassScheduleController</servlet-name>
        <url-pattern>/admin/searchClassScheduleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructorProfileController</servlet-name>
        <url-pattern>/instructor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileMebership</servlet-name>
        <url-pattern>/userprofile/membership</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillCashierController</servlet-name>
        <url-pattern>/cashier/viewBillCashierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBillCashierController</servlet-name>
        <url-pattern>/cashier/updateBillCashierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMembershipCashierController</servlet-name>
        <url-pattern>/cashier/viewMembershipCashierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMembershipCashierController</servlet-name>
        <url-pattern>/cashier/updateMembershipCashierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillCashierController</servlet-name>
        <url-pattern>/cashier/searchBillCashierController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillAnalysisController</servlet-name>
        <url-pattern>/admin/billAnalysisController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogAnalysisController</servlet-name>
        <url-pattern>/admin/blogAnalysisController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillMembershipListController</servlet-name>
        <url-pattern>/admin/viewBillMembershipListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillMembershipController</servlet-name>
        <url-pattern>/admin/searchBillMembershipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogApprovalController</servlet-name>
        <url-pattern>/admin/blog-approval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillMembershipCashierController</servlet-name>
        <url-pattern>/cashier/searchBillMembershipCashierController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Client/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
